@page
@model HorrorMovieAPI
@{
    Layout = null;
}
@{
    var key = "2e5aaec53df627a3c2f12b971432f2ef";
    var movieOfTheDay = HorrorMovieAPI.GetMovieInfo(key);
    var movieVideo = HorrorMovieAPI.GetVideo(key, movieOfTheDay);
}
<!DOCTYPE html>
<html lang="en-us">
    <body>
        <head>
            <title>Horror Movie of the Day</title>
            <link href="" rel="stylesheet" />
        <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
        </head>
        <div class="image-container">
        
        <header>

        </header>
        <main>
            <h1 id="title">Horror Movie of the Day</h1>
            <h2 id="movie-title">@movieOfTheDay.title</h2>
            <h3 id="movie-release">@movieOfTheDay.release_date</h3>
        <img src="@movieOfTheDay.poster_path" title="Movie of the day poster." />
            <p id="movie-overview">@movieOfTheDay.overview</p>
            <h3 id="movie-rating">@movieOfTheDay.vote_average</h3>
        <h4 id="movie-trailer">Check out the trailer on YouTube <a href="@movieVideo" target="_blank">here</a>.</h4>
        </main>

        </div>
    </body>
</html>